@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 62.5%; /* fz62.5p: 루트에 들어오는 글자 크기는 10px -> 1rem  */
    --main-color: #cb0035;
    --sub-color: #e06900;
    --main-color-dark: #9b0029;

    --gradient: linear-gradient(90deg, var(--main-color) 0%, var(--sub-color) 100%);

    --title-color: #222;
    --text-color: #555;
    --black10p: rgba(0, 0, 0, 0.1);
    --black20p: rgba(0, 0, 0, 0.2);
    --black30p: rgba(0, 0, 0, 0.3);
    --black40p: rgba(0, 0, 0, 0.4);
    --black50p: rgba(0, 0, 0, 0.5);
    --black60p: rgba(0, 0, 0, 0.6);
    --black70p: rgba(0, 0, 0, 0.7);
    --black80p: rgba(0, 0, 0, 0.8);
    --black90p: rgba(0, 0, 0, 0.9);
    --white20p: rgba(255, 255, 255, 0.2);
    --white30p: rgba(255, 255, 255, 0.3);
    --white40p: rgba(255, 255, 255, 0.4);
    --white50p: rgba(255, 255, 255, 0.5);
    --white60p: rgba(255, 255, 255, 0.6);
    --white70p: rgba(255, 255, 255, 0.7);
    --white80p: rgba(255, 255, 255, 0.8);
    --white90p: rgba(255, 255, 255, 0.9);
}

::selection {
    background: var(--main-color);
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline; /* tdu:밑줄 생기게 */
    color: var(--main-color);
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

video,
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background: transparent;
    cursor: pointer;
}

body {
    font: 1.6rem/1.7 'Montserrat', sans-serif; /* 영문폰트와 한글폰트를 같이 쓸때는 영문먼저 숫자는 영문폰트를 따라감 */
    color: var(--text-color);
    text-transform: capitalize; /* ttc: 첫글자를 대문자 */
    word-break: keep-all; /* wbka: 어절 단위로 줄바꿈 */
}

.btn {
    width: 20.2rem;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.2;
}

.btn-black {
    background: #000;
    color: #fff;
}

.text-gra {
    /* 텍스트에 그라데이션 적용 */
    background: var(--gradient);
    /* -webkit-background-clip: text; */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.sec-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
}
